// $main-color: #5d47d0;
// $secondary-color:#26caa7;
// $main-color-light: rgba(93, 71, 208, 0);
// $main-color-light-1: rgba(93, 71, 208, 1);
// // $submitBtn: #248024;
// $submitBtn: #5d47d0;
// $light-color: rgba(38, 202, 167, 0.5);
// $green-color: #0cba6f !important;
// $blue-color: #37517e !important;
// $black-color: #000 !important;
// $white-color: #fff !important;
// $form-font: .8rem !important;
// $gray-color: #2c3a5f !important;


// $main-color: #5d47d0;
// $secondary-color:#fff;
// $main-color-light: rgba(93, 71, 208, 0);
// $main-color-light-1: rgba(93, 71, 208, 1);
// // $submitBtn: #248024;
// $submitBtn: #5d47d0;
// $light-color: rgba(38, 202, 167, 0.5);
// $green-color: #000 !important;
// $blue-color: #000 !important;
// $black-color: #000 !important;
// $white-color: #d3c71d !important;
// $form-font: .8rem !important;
// $gray-color: #d3c71d !important;

// $main-color: #5d47d0;
// $secondary-color:#26caa7;
// $main-color-light: rgba(93, 71, 208, 0);
// $main-color-light-1: rgba(93, 71, 208, 1);
// // $submitBtn: #248024;
// $submitBtn: #5d47d0;
// $light-color: rgba(38, 202, 167, 0.5);
// $green-color: #0cba6f !important;
// $blue-color: #37517e !important;
// $black-color: #000 !important;
// $white-color: #fff !important;
// $form-font: .8rem !important;
// $gray-color: #2c3a5f !important;

// $main-color: #5d47d0;
// $secondary-color:#26caa7;
// $main-color-light: rgba(93, 71, 208, 0);
// $main-color-light-1: rgba(93, 71, 208, 1);
// // $submitBtn: #248024;
// $submitBtn: #5d47d0;
// $green-color: #f5d355 !important;
// $blue-color: #000 !important;
// $black-color: #000 !important;
// $white-color: #fff !important;
// $form-font: .8rem !important;
// $gray-color: #2c3a5f !important;

$main-color: #000;
$secondary-color:#26caa7;
$main-color-light: rgba(93, 71, 208, 0);
$main-color-light-1: rgba(93, 71, 208, 1);
// $submitBtn: #248024;
$submitBtn: #5d47d0;
$light-color: rgba(38, 202, 167, 0.5);
$green-color: #ffcd00 !important;
$blue-color: #37517e !important;
$black-color: #000 !important;
$white-color: #fff !important;
$form-font: .8rem !important;
$gray-color: #2c3a5f !important;











::ng-deep {
    .modal {
     top: 60px !important;
    }}