   <section>
      <!-- <app-header></app-header> -->
      <div  class="perfumes_container">
        <div class="best_seller_container">
          <div style="position: relative;">
             <img src="../../../assets/hi_perfume_images/perfumes_text_img1.png" alt="">
          </div>
     
          <div class="best">
           <section *ngIf="products" class="container">
               <div class="row justify-content-center align-items-center">
               <div *ngFor="let selection of products"  class="card col-6 col-lg-3 col-md-4 col-sm-6 ">
                  <img (click)="openProductDetails(selection.id)" class="perfume_img" [src]="selection.image">
                  <div class="center">
                    <div class="selection_name" >
                    <span class="selection_name_span">  <div>
                      {{ selection.name.length > 20 ? (selection.name | slice:0:20) + '...' : selection.name }}
                    </div>
                      <div>
                        <div class="selection_desc" > 
                          {{ selection.sub_name.length > 55 ? (selection.sub_name | slice:0:55) + '...' : selection.sub_name }}
            
                        </div>      
                      </div>
                      <div style="margin-top: 7px;">
                       <ngx-stars  style="direction: ltr;direction: ltr;display: inline-table;" [readonly]="true"  [maxStars]="5" [initialStars]="selection.rate"></ngx-stars>
                      </div>
                    </span>
                     <span class="price_div">
                      <div class="retail_price"> ${{selection.price}}</div>
                      <div class="include_tax">include tax</div>
                     </span>
                    </div>
                    <div class="selection_btn" >
      
                      <!-- <div class="selection_icon">
                        ${{selection.price}}
                      </div> -->
                      <a>
                        <div *ngIf="selection.isFavorit==false" class="favorite_icon_"  (click)="addFavorite(selection.id)">
                           <!-- <i class="fa-solid fa-heart-circle-check"></i> -->
                           <img src="../../../assets/hi_perfume_images/not_favorit_icon.png" alt="">
                          </div>
                          <div *ngIf="selection.isFavorit==true" class="favorite_icon_"  (click)="addFavorite(selection.id)">
                           <!-- <i class="fa-solid fa-heart-circle-check"></i> -->
                           <img src="../../../assets/hi_perfume_images/is_favorit_icon.png" alt="">
                          </div>
                       </a>
                      <!-- <div (click)="addToCart(selection.id)" class="selection_icon">
                         <img src="../../../../assets/hi_perfume_images/icon_shop.png" alt="">
                      </div> -->
                      <div class="share_icon">
                        <div class="container_social">
                          <ul>
                            <li><a (click)="shareOnWhatsapp(selection.name,selection.image,selection.sub_name,selection.id)" class="link"  target="_blank">
                              <img src="../../../assets/hi_perfume_images/whatsapp-icon.png" alt="">
                            </a></li>
                            <li><a (click)="shareOnInstagram(selection.name,selection.image,selection.sub_name,selection.id)" class="link"  target="_blank">
                              <img src="../../../assets/hi_perfume_images/instagram-icon.png" alt="">
                            </a></li>
                            <li><a (click)="facbookShare(selection.id)" class="facebook-btn"  target="_blank" >
                              <img src="../../../assets/hi_perfume_images/facebooc_icon.svg" alt="">
                            </a></li>
                            <li><a  class="link"  >
                            </a></li>
                            <li><a  class="link"  target="_blank">
                              <img class="bg_socila_icons"  src="../../../assets/hi_perfume_images/bg_socila_icons.png" alt="">
                            </a></li>
    
                          </ul>
                        </div>
                      </div>
                
                      <div *ngIf="selection.inCart==false"  type="submit" class="add_to_cart_btn"     (click)="addToCart(selection,selection.id,addToCartNotifyTemplate,selection.name,selection.image,selection.sub_name)" >Add To Cart</div>
                      <div *ngIf="selection.inCart==true"  type="submit" class="add_to_cart_btn add_to_cart_btn_added"  >Added To Cart</div>
                      <app-popup-notification *ngIf="selection.showPopup" [image]="selection.image" [name]="selection.name" [sub_name]="selection.sub_name"></app-popup-notification>
                   </div>
                   </div>
               </div>
          
           </div>
       
           <!-- <div>
              <mat-paginator [length]="100"
              [pageSize]="15"
              (page)="pageChange($event)"
              aria-label="Select page">
</mat-paginator>
           </div> -->
           </section>
             <!-- <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls> -->
             <button *ngIf="pagination.current_page !== pagination.last_page" class="view" (click)="getProductsByPagination(pagination.current_page)"><a>view More</a></button>
       </div>
     </div>
      </div>
      <app-footer></app-footer>
  </section>


