<div class="comming_soon">
   <div class="comming_div">
      <div class="comming_bg">
        <!-- <img src="./img/comming_bg.png" alt="">
      </div>
     <div class="comming_img">
        <img src="./img/comming_img.png" alt="">
     </div>
     <div>
        <h3>
            Your perfume is our inspiration
        </h3>
     </div> -->
     <div>
        <img  class="image" src="../../../assets/hi_perfume_images/comming_soon_image.png" alt="">
     </div>
     <div>
        <p>Something amazing <span>coming soon</span></p>
     </div>
     <h6>
        © Copyright 2023 | HI PERFUME
     </h6>
   </div>
</div>