:host {
  background: #f6f6f6;
}

@import '../assets/scss/variables';

.main {
  min-height: 600px;
  display: block;
}
.ratingContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.ratingContainer {
  display: flex;
  flex-wrap: wrap;

  input {
    display: none;
  }

  .rating {
    border: 1px solid #000;
    text-align: center;
    margin: auto;
    cursor: pointer;
    padding: 3px 13px;
    border-radius: 3px;
    font-weight: bold;
  }
  .checked {
    background: $main-color;
    color: #fff;
  }
}

:ng-deep {
  @media screen and (min-width: 576px) {
    .modal-dialog {
      max-width: 630px !important;
      margin: 1.75rem auto;
    }
  }
}


.accessability_icon{
  border-radius: 50%;
  position: fixed;
  right: 0px;
  top: 65%;
  margin: auto;
  display: block;
  text-align: center;
  color: #E1AF4F;
  background: #fff;
  width: 40px;
    height: 40px;
    cursor: pointer;
}
.accessability_icon i{
  font-size: 40px;
}
.accessability_icon:hover{
  color: #000;
  background: #E1AF4F;
}

.epilepsy-safe-mode {
  filter: grayscale(30%) !important;
  animation: none !important;
  transition: none !important;
}

.accessability_HighContrastMod{
font-size: 18px;
font-family: Arial, Helvetica, sans-serif !important;
// filter: grayscale(5%) !important;
}