<div  class="container">
  <div class="imgcontainer">
    <img src="../../../../assets/hi_perfume_images/hi_perfum_logo_login.png" alt="Avatar" class="avatar">
</div>
   <form [formGroup]="resetPasswordForm">
   
    <!-- <div class=" form-group ">
        <input formControlName="oldPassword" mdbInput type="password" class="form-control" id="formGroupExampleInput2MD" placeholder="كلمة السر">
      </div> -->
     <!-- Material input -->
     <div class=" form-group ">
      <input mdbInput type="password" [type]="hide ? 'password' : 'text'" required class="form-control" formControlName="password" id="formGroupExampleInput2MD" placeholder="{{'password' | translate}}">
      <mat-icon class="placeholder show_pass_icon" (click)="myFunction()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
         <!-- <label for="formGroupExampleInput2MD">Another label</label> -->
     </div>
     <div class=" form-group ">
       <input formControlName="newPasswordConfirmation" mdbInput type="password" class="form-control" id="formGroupExampleInput2MD" placeholder="{{'re_enter_password' | translate}}">
       <!-- <label for="formGroupExampleInput2MD">Another label</label> -->
     </div>
     <div class=" form-group " style="margin: 12px 0;">
     <div class="col-auto" style="padding: 0">
       <button (click)="submit()" type="submit" mdbBtn color="primary" class="mb-0 btn-login">{{"save" | translate}} </button>
     </div>
     </div>
   
     <div class="forget-password">
       <span>
        <h3>
          <a>{{"registered_user" | translate}}</a>
        </h3>
       </span>
     </div>
   </form>
   

   </div>
