<div class="popup_item_idded_to_cart">
  <div id="popup_2" class="popup">
    <div class="popup-overlay"></div>
    <div class="popup-content">
      <a   class="close-popup" data-id="popup_2" data-animation="scale">&times;</a>
    
      <div class="cart_added_container">
        <!-- <div class="content row-1">
            <h4><i class="fas fa-check"></i> item added to your cart</h4>
        </div> -->
        <div class="content row-2">
           <div class="offer_text">
            Extra %10 off when you place your first order
           </div>
        </div>
        <div class="content">
            <div class="join_mail">
                Join Our Mailing List
            </div>
            <form [formGroup]="subscribeForm">
                <input formControlName="email" mdbInput type="email" class="form-control" id="formGroupExampleInputMD3" placeholder=" {{'Email'}}">
            </form>
            <div>
                <button  (click)="submit()"  class="add_to_cart_btn"  >Subscribe Now </button>
            </div>
            <div class="social_media_text"> 
                BE THE FIRST TO KNOW ABOUT SALES AND NEW PRODUCT RELEASES!
            </div>
            <div class="iconic">
                <a href="https://www.facebook.com/profile.php?id=61550500130753&mibextid=LQQJ4d" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://instagram.com/hiperfumeusa?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.tiktok.com/@hiperfume6?_t=8eZ7AVcGfpW&_r=1" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>
        <div class="content">
            <div class="col-12">
                <a  class="close-popup continue_to_shopping" data-id="popup_2" data-animation="scale">No Discount, Thanks</a>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>