
.selection_container{
  .selection_container_img{
  position: relative;
  }
  .gifts_text{
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    position: absolute;
    top: 30px;
    left: 46%;
  }
  &_img{
    img{
      display: block;
      margin: 26px auto;
      margin-top: -50px;
      padding-bottom: 40px;
      width: 370px;
    }
  }
     }
  
     .nav-tabs {
      border-bottom: 0px solid transparent;
    }
    .tab {
      padding-bottom: 60px;
    }
    .tab li a {
      background: #4b4c4d;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      padding: 16px 22px;
    }
    .tab li a:hover {
      background: #dc005a;
      color: #fff;
    }
    .tab .nav-tabs > li.active > a {
      background: #dc005a;
      color: #fff;
    }
    .tab .tab-content {
      background: #f9f9f9;
      border: none;
      color: #5a5c5d;
      font-size: 14px;
      font-weight: 600;
      padding: 20px;
      margin-top: 2px;
    }
    ::ng-deep.nav{
      background-color: #EF776A !important;
      border-radius: 20px !important;
      font-weight: 700 !important;
      font-size: 15px !important;
      text-align: center !important;
      font-size: 14px !important;
      font-weight: bold !important;
      color: #000 !important;
      width: fit-content;
      margin: auto;
    }
    ::ng-deep .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
      background-color: #E1AF4F !important;
      border-radius: 20px !important;
      font-weight: 700 !important;
      font-size: 15px !important;
      // width: 135px !important;
      text-align: center !important;
      font-size: 20px !important;
      font-weight: bold !important;
      color: #000 !important;
    }
    ::ng-deep .nav-pills a{
      color: #000 !important;
      font-weight: bold !important;
      font-size: 18px !important;
      padding: 6px 30px !important;
    }
    // ::ng-deep .nav-pills a:nth-child(2){
    //   width: 300px !important;
    //   text-align: center !important;
    // }
    // ::ng-deep .nav-pills a:nth-child(3){
    //   padding-right: 25px !important;
    //   text-align: center !important;
    // }
  
    //slide_r
    
  .slide_r_container{
    // background-image: url('../../../assets/hi_perfume_images/bg_slide_r.png');
    height: 950px;
    // background-repeat: no-repeat;
    // background-size: cover;
    // width: 94%;
    margin: auto;
    position: relative;
  }
  .slide_r {
    margin: 0 auto;
    width: 90%;
    margin-top: 72px;
    // max-width: 940px;
  }
  
  .slide__viewer {
    height: 412px;
    // overflow: hidden;
    position: relative;
  }
  
  .slide__group {
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .slide_ {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  .slide_:first-child {
    display: block;
  }
  
  .slide_:nth-of-type(1) {
    // background-image: url('../../../assets/hi_perfume_images/bg_slide_r.png');
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .slide_:nth-of-type(2) {
    // background-image: url('../../../assets/hi_perfume_images/bg_slide_r.png');
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .slide_:nth-of-type(3) {
    // background-image: url('../../../assets/hi_perfume_images/bg_slide_r.png');
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .slide_:nth-of-type(4) {
    // background-image: url('../../../assets/hi_perfume_images/bg_slide_r.png');
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .slide__buttons {
    left: 34%;
    position: absolute;
    right: 0;
    top: 360px;
    text-align: center;
    display: none;
  }
  .slide_r_bg_black{
    width: 100%;
    height: 165px;
    background: #000;
    position: absolute;
    z-index: -22222222;
  }
  a.slide__btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .slide__btn.active, .slide__btn:hover {
    color: #E1AF4F;
    cursor: pointer;
  }
  
  .directional_nav {
    height: 340px;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    /* left: 70px; */
    top: 0px;
  }
  
  .previous_btn {
    bottom: -90px;
    // left: 100px;
    margin: auto;
    position: absolute;
    // top: 0;
  }
  .slide__arrow{
    width: 30px;
    height: 30px;
    background: #E1AF4F;
    border-radius: 50%;
    text-align: center;
    padding: 3px;
  }
  .slide__arrow img{
    width: 12px;
  }
  .next_btn {
    bottom: -90px;
    margin: auto;
    position: absolute;
    right: -35px;
    // top: 0;
  }
  .slide_part2{
    padding-top: 30px;
  }
  .previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    // opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
  }
  .sild_container{
    display: flex;
    text-align: center;
    color: #000;
  }
  .sild_container span{
    width: 400px;
    font-size: 11px;
    text-align: center;
  }
  .sild_container img{
    // position: absolute;
    // left: 130px;
    // width: 200px;
    // top: 95px;
  }
  .sild_container p{
      // font-family: 'Oh Beautiful', sans-serif;
      font-family: auto;
      font-size: 22px;
      color: #E1AF4F;
      margin-top: -15px;
  }
  .sild_container .text_cont{
    padding-top: 80px;
    margin-right: 75px;
  }
  .sild_container .text_lg{
    font-size: 90px;
    font-weight: bold;
  }
  .previous_btn:hover, .next_btn:hover {
    opacity: 1;
  }
  
  ::ng-deep .slide__btn {
    /* color: #E1AF4F; */
    font-size: 50px !important;
    color: #fff !important;
  }
  ::ng-deep .slide__buttons .active{
  color: #E1AF4F !important;
  font-size: 50px !important;
  }
  .selection_name{
    color: #7E7E7E;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 5px;
  height: 35px;
  margin: auto;
  }
  .selection_desc{
    color: #898989;
    font-size: 11px;
    overflow: hidden;
    width: 80%;
    text-align: center;
    margin: 12px auto;
    font-weight: 600;
  }
  .selection_btn{
    display: flex;
    justify-content: center;
  }
  .selection_btn button{
    width: 125px;
    height: 36px;
    background: #DBDBDB;
    border-radius: 71px;
    border: navajowhite;
    color: #9A9A9A;
  }
  .selection_btn .selection_icon{
  background-color: #E1AF4F;
  border-radius: 50%;
  padding: 10px;
  margin-right: 9px;
  }
  .selection_btn .selection_icon img{
    width: 16px;
    display: block;
    margin: auto;
  }
  .gifts_container{
    background: #000;
    position: relative;
    padding-top: 70px;
    opacity: .9;
    backdrop-filter: invert(.7);
  }
  .gifts_img img{
    width: 100%;
  }
  
  .selection_carousel_container_moobile{
    display: none;
    margin-top: 40px;
  }

  @media (max-width: 768px) {
  
      .selection_container_img img{
    width: 100%;
      }
      .selection_carousel_container_moobile{
        display: block;
      }
      .selection_carousel_container{
       display: none
      }
  }



/////////rating/////////
.rating-list li {
  float: right;
  color: #999999;
  padding: 10px 5px;
  font-size: 1.5rem;
  font-size: 15px;
  padding: 2px;
}

.rating-list li:hover,
.rating-list li:hover~li,
.rating-list li.selected {
  color: #ffba00;
  font-size: 15px;
}

.rating-list {
  display: inline-block;
  list-style: none;
  direction: ltr;
  float: left;
  margin-bottom: 5px;
}

.rating-list li.selected {
  color: #ffba00;
  font-size: 15px;
  padding: 2px;
}

.star_rate_container {
  margin-top: 0px;
  margin-left: 5px;

}

/////////////////////

.favorite_icon{
  border: solid 2px #E1AF4F;
  border-radius: 50%;
  padding: 6px;
  width: 35px;
  height: 35px;
  color: #E1AF4F;
  margin-right: 10px;
}
.isFavorite_icon{
  border-radius: 50%;
  padding: 6px;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border: solid 2px #E1AF4F;
  color: #fff;
  background-color: #E1AF4F;
}
.favorite_icon:hover{
  border: solid 2px #E1AF4F;
  color: #fff;
  background-color: #E1AF4F;

}

.share_icon img{
  margin: 0;
  width: 36px;
  height: 35px;
  margin-right: 9px;
  cursor: pointer;
}






.logo {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.favorite_icon_ img{
  margin: auto;
    margin-right: 9px;
    margin-top: 2px;
    cursor: pointer;
    width: 35px;
}

.best .view {
  width: 120px;
  height: 40px;
  /* left: 620px; */
  /* top: 10px; */
  border: none;
  background: #E1AF4F;
  border-radius: 66px;
  margin: auto;
  display: block;
}

.best .view a {
    font-family: 'Alexandria';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
}
.selection_name{
  color: #7E7E7E;
  font-weight: bold;
  font-size: 18px;
  // padding-top: 20px;
  // padding-bottom: 5px;
  display: flex;
  justify-content: center;
  width: max-content;
  height: 35px;
  margin: auto;
  width: 100%;
  text-align: left;
  margin: 0;
  justify-content: space-around;    height: auto;
  font-size: 13px;
  height: 95px;

}
.selection_name_span{
  width: 85%;text-align: left;
}
.selection_desc{
  color: #898989;
  font-size: 11px;
  overflow: hidden;
  width: 90%;
  text-align: center;
  margin: 12px auto;
  font-weight: 600;
  width:  auto;
  text-align: left;    margin: 0px auto;

}
.price_div{
  width: 25%;
  text-align: center;padding-right: 15px;
}
.retail_price{
  color: #E1AF4F;font-weight: 100;font-size: 14px;
}
.include_tax{
  color: #E1AF4F;
  font-size: 8px;
}
.main_price{
  font-weight: 100;font-size: 14px;text-decoration: line-through;
}
.descount_price{
  font-weight: 100;font-size: 14px;
}
.selection_btn{
  display: flex;
  justify-content: left;
}
.selection_btn button{
  width: 125px;
  height: 36px;
  background: #DBDBDB;
  border-radius: 71px;
  border: navajowhite;
  color: #9A9A9A;
}
.selection_btn .selection_icon{
background-color: #E1AF4F;
border-radius: 50%;
padding: 7px;
margin-right: 9px;
cursor: pointer;
width: 35px;
height: 35px;
}
.selection_btn .selection_icon img{
  width: 16px;
  display: block;
  margin: auto;
}
.center{
  text-align: center;
}

/////////////////////

.favorite_icon{
  border: solid 2px #E1AF4F;
  border-radius: 50%;
  padding: 6px;
  width: 35px;
  height: 35px;
  color: #E1AF4F;
  margin-right: 10px;
}
.isFavorite_icon{
  border-radius: 50%;
  padding: 6px;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border: solid 2px #E1AF4F;
  color: #fff;
  background-color: #E1AF4F;
}
.favorite_icon:hover{
  border: solid 2px #E1AF4F;
  color: #fff;
  background-color: #E1AF4F;

}

.share_icon img{
  margin: 0;
  width: 36px;
  height: 35px;
  margin-right: 9px;
  cursor: pointer;
}


.logo {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.favorite_icon_ img{
  margin: auto;
    margin-right: 9px;
    margin-top: 2px;
    cursor: pointer;
    width: 35px !important;
    height: 28px !important;
}

::ng-deep.carousel{
  z-index: 0 !important;
}
::ng-deep.carousel-arrow{
// top: 25% !important;
}
::ng-deep.carousel-arrow-prev{
  width: 30px !important;
  height: 30px !important;
  background: #E1AF4F !important;
  border-radius: 50% !important;
  text-align: center !important;
  padding: 3px !important;
  background-image: url(../../../assets/hi_perfume_images/arrow_lift.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  left: -10px !important;
}

::ng-deep.carousel-arrow-next{
  width: 30px !important;
  height: 30px !important;
  background: #E1AF4F !important;
  border-radius: 50% !important;
  text-align: center !important;
  padding: 3px !important;
  background-image: url(../../../assets/hi_perfume_images/arrow_right.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  right: -10px !important;
}

.selection_carousel_container{
  margin-top: 40px;
}

///////////// Social Midea Share ////////////////


.container_social ul {
  position: relative;
  list-style: none;
  width: 35px;
  height: 35px;
}
.container_social ul:before {
  content: "";
  position: absolute;
  top: -2%;
  left: -2%;
  width: 104%;
  height: 104%;
  border-radius: 50%;
  // background-color: #426fc5;
  z-index: 6;
  // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12), 0 3px 5px 0 rgba(0, 0, 0, 0.12);
  background: url(../../../assets/hi_perfume_images/share_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
  cursor: pointer;

}
.container_social ul:after {
  // content: "Share me!";
  font-size: 4vh;
  color: white;
  text-align: center;
  z-index: 7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.container_social ul li {
  font-size: 10px;
  position: absolute;
  top: 0;
  width: 33px;
  height: 33px;
  left: 0;
  border-radius: 50%;
  cursor: pointer;
  // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12), 0 3px 5px 0 rgba(0, 0, 0, 0.12);
}
.container_social ul li:nth-child(1) {
  // background-color: #47c157;
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.58s;
  z-index: 1;
  font-size: 20px;

}
.container_social ul li:nth-child(2) {
  // background-color: #db1cb8;
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.66s;
  z-index: 2;
  font-size: 20px;

}
.container_social ul li:nth-child(3) {
  // background-color: #3b5998;
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.74s;
  z-index: 3;
}
.container_social ul li:nth-child(4) {
  // background-color: #55acee;
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.82s;
  z-index: 4;
}
.container_social ul li:nth-child(5) {
  // background-color: #55acee;
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.82s;
  z-index: 0;
  // display: none;
}

.bg_socila_icons{
  width: 10px !important;
  height: 10px !important;
}
.container_social a {
  display: block;
  color: #fff;
}
.container_social a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.container_social:hover li:nth-child(1) {
  transform: translate(40px, 0);
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.08s;
}
.container_social:hover li:nth-child(2) {
  transform: translate(80px, 0);
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.16s;
}
.container_social:hover li:nth-child(3) {
  transform: translate(120px, 0);
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.24s;
}
.container_social:hover li:nth-child(4) {
  transform: translate(160px, 0);
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.32s;
}
.container_social:hover li:nth-child(5) {
  transform: translate(90px, 0);
  transition: transform 0.4s cubic-bezier(0.75, 0, 0.175, 1) 0.32s;
  .bg_socila_icons{
    width: 100px !important;
    height: 35px !important;

  }

}
.add_to_cart_btn{
  background: transparent;
  border: 1px solid #E1AF4F;
  outline: 0;
  box-shadow: none;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s;
  height: 35px !important;
  font-size: 14px !important;
  transition: all 0.5s;
  width: 70%;  letter-spacing: 0.02em;
  border-radius: 100px;
  overflow: hidden;
  background-color: #E1AF4F;
  width: 60%;    padding: 5px;
}
.add_to_cart_btn:hover{
color: #E1AF4F;
background: #000
}

.add_to_cart_btn_added{
  color: #E1AF4F;
  background: #000
}


////////////////////Mobile Responsive///////////////////
@media only screen and (max-width: 900px){

  .caard{
    padding: 0px 30px !important;

  }
  .perfume_img{
    height: 30%;

  }
  .selection_name{
font-size: 11px;
  }
  .selection_desc{
    font-size: 8px;
  }
  .retail_price{
    font-size: 11px;
  }
  .include_tax{
    font-size: 5px;
  }
  .add_to_cart_btn{
    height: 30px !important;
  font-size: 11px !important;
  width: 55% !important;

  }
  .selection_name{
    height: 80px;

  }
  
}


@media only screen and (max-width: 790px) {

  .woman_sec > ::ng-deep.nav{
      font-size: 12px !important;
  
  
  }
  .men_sec > ::ng-deep.nav{
       font-size: 12px !important;
  
  
  }
  .unisex_sec > ::ng-deep.nav{
      font-size: 12px !important;
  
  
  }
  
  .woman_sec >  ::ng-deep .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
      font-size: 12px !important;
  
  
  }
  .men_sec >  ::ng-deep .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
      font-size: 12px !important;
  
  
  }
  .unisex_sec >  ::ng-deep .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
      font-size: 12px !important;
  
  
  }
  
  .men_sec > ::ng-deep.nav-pills a{
      font-size: 12px !important;
      padding: 4px 30px !important;
  
  
  }
  .woman_sec > ::ng-deep.nav-pills a{
      font-size: 12px !important;
      padding: 4px 30px !important;
  
  
  }
  .unisex_sec > ::ng-deep.nav-pills a{
      font-size: 12px !important;
      padding: 4px 30px !important;
  
  }
  .selection_name{
    font-size: 9px;
    padding-top: 0;
    height: 50px;
}
  .selection_desc{
    font-size: 5px;
    max-height: 25px;
    min-width: 90%;
    margin-bottom: 5px;
  }
  .retail_price{
  font-size: 7px;
  }
  .include_tax{
    color: #E1AF4F;
    font-size: 4px;
  }
  .main_price{
   font-size: 7px;
  }
  .descount_price{
   font-size: 7px;
  }
  .favorite_icon_ img{
  height: 20px !important;
  width: 20px !important;
  }
  .container_social ul:before{
    top: 8%;
    height: 20px !important;
    width: 20px !important;
  }
  .container_social ul li{
    width: 18px;
      height: 18px;
  }
  .container_social:hover li:nth-child(5) .bg_socila_icons{
    width: 100px !important;
  
  }
  .container_social a img{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(-88%, -40%, 0);
  }
  .add_to_cart_btn{
    height: 25px !important;
    font-size: 8px !important;
    display: block;
    margin: auto;
    margin-top: -5px;
  }
  .rating-list li.selected{
    font-size: 10px;
  }
  .rating-list li{
    font-size: 10px;
  }
  
  
  ///////////// Social Midea Share ////////////////
  
  
  .container_social ul {
    position: relative;
    list-style: none;
    width: 20px;
    height: 20px;
    padding: 0;
  
  }
  .container_social ul:before {
    content: "";
    position: absolute;
    top: -2%;
    left: 2px;
    width: 104%;
    height: 104%;
    border-radius: 50%;
    // background-color: #426fc5;
    z-index: 6;
    // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12), 0 3px 5px 0 rgba(0, 0, 0, 0.12);
    background: url(../../../assets/hi_perfume_images/share_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
  
  }
  .container_social ul:after {
    // content: "Share me!";
    font-size: 4vh;
    color: white;
    text-align: center;
    z-index: 7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .container_social ul li {
    font-size: 10px;
    position: absolute;
    top: 0;
    width: 18px;
    height: 18px;
    left: 0;
    border-radius: 50%;
    cursor: pointer;
    // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12), 0 3px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .container_social ul li:nth-child(1) {
    // background-color: #47c157;
    transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.58s;
    z-index: 1;
    font-size: 20px;
  
  }
  .container_social ul li:nth-child(2) {
    // background-color: #db1cb8;
    transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.66s;
    z-index: 2;
    font-size: 20px;
  
  }
  .container_social ul li:nth-child(3) {
    // background-color: #3b5998;
    transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.74s;
    z-index: 3;
  }
  .container_social ul li:nth-child(4) {
    // background-color: #55acee;
    transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.82s;
    z-index: 4;
  }
  .container_social ul li:nth-child(5) {
    // background-color: #55acee;
    transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.82s;
    z-index: 0;
    // display: none;
  }
  
  .bg_socila_icons{
    width: 10px !important;
    height: 10px !important;
  }
  .container_social a {
    display: block;
    color: #fff;
  }
  .container_social a img {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate3d(-52%, -50%, 0);
    height: 14px !important;
    width: 14px !important;
  
  }
  .container_social:hover li:nth-child(1) {
    transform: translate(13px, 0);
    transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.08s;
  }
  .container_social:hover li:nth-child(2) {
    transform: translate(30px, 0);
    transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.16s;
  }
  .container_social:hover li:nth-child(3) {
    transform: translate(50px, 0);
    transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.24s;
  }
  .container_social:hover li:nth-child(4) {
    transform: translate(70px, 0);
    transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.32s;
  }
  .container_social:hover li:nth-child(5) {
    transform: translate(40px, 0);
    transition: transform 0.4s cubic-bezier(0.75, 0, 0.175, 1) 0.32s;
    .bg_socila_icons{
      width: 100px !important;
      height: 20px !important;
  
    }
  }
    ::ng-deep.carousel-arrow{
      top: 32% !important;
  
    }
    ::ng-deep.carousel-arrow-prev{
      width: 22px !important;
      height: 22px !important;
    }
    ::ng-deep.carousel-arrow-next{
      width: 22px !important;
      height: 22px !important;
      // display: none;
    }
  
  }


  
