  <section >
     <div class="get_app_container">
         <div class="get_app_img">
             <img src="../../../assets/hi_perfume_images/bg_hi.png" alt="">
             <img class="hi_img" src="../../../assets/hi_perfume_images/hi_modal.png" alt="">
         </div>
         <div class="get_app_title">
         <h2> Get App now !</h2>
         </div>
         <div>
          <p>
            Discover the history and background behind 
            <br>
            Clive Christian noble collection.<br> Find out more about Queen Anne,<br> Rococo and Art Deco perfumes.
          </p>
         </div>
         <div class="get_app_btns">
          <div class="apps_icon">
            <a href="https://play.google.com/store/apps/details?id=com.hiperfume.hiperfume" target="_blank">
              <img src="../../../assets/hi_perfume_images/googleplay.png" alt="">
            </a>
        </div>
        <!-- <div class="apps_icon">
            <img src="../../../assets/hi_perfume_images/appstore.png" alt="">
        </div> -->
         </div>
     </div>
  </section>