<section>
    <!-- <app-header></app-header> -->
    <div class="pickup_container">
        <div style="position: relative;">
           <img class="pickup_img" src="../../../assets/hi_perfume_images/free_samples_header_img.png" alt="">
        </div>
        <div class="pickup_info">
              <div class="row">
                  <div class="col-lg-5 col-md-12 col-sm-12 pickup_info_img">
                    <img src="../../../assets/hi_perfume_images/free_samples_img.png" alt="">
                  </div>
                  <div class="col-lg-7 col-md-12 col-sm-12 pickup_info_text">
                   <p>
                    Now enjoy choosing the collection that <br/> suits you by drag and drop 
                   </p>
                  </div>
              </div>
        </div>
        <div class="pickup_box_container row container">
            <div  class="pickup_box_items col-lg-4 col-md-4 col-sm-12">
               <div    class="row pickup_item" style="margin: 10px 0;">
                   <div *ngFor="let item of products"  class="col-lg-4 col-md-6 col-sm-6 col-6 item_div">
                   <a (click)="addImage(item.image,item.id,item.price,item.name)">
                   <div>
                    <img [src]="item.image" alt="">
                   </div>
                      <div class="item_name">
                        {{item.name}}
                      </div>
                   </a>
                   </div>
               </div>
            </div>
            <div class="pickup_box_selectors col-lg-8 col-md-8 col-sm-12">
              <div class="note_div">
                "<span style="color: red;">Note</span> : we want you to experience before you spend, get your 3 free samples. Limited availability"
              </div>
                <div class="pickup_box__selectors_div">
                       <div class="row pickup_box__selectors_div_img">
                         <div  class="col-lg-4 col-md-4 col-sm-10">
                             <div class="div"    >
                              <div>
                                <img *ngIf="itemSelected[0]"  [@addAnimation] [src]="itemSelected[0].image" alt="">
                              </div>
                              <div  *ngIf="itemSelected[0]"  [@addAnimation]>
                                {{itemSelected[0].name}}
                              </div>
                             </div>
                         </div>
                         <div  class="col-lg-4 col-md-4 col-sm-10">
                            <div class="div"    >
                               <div>
                                <img *ngIf="itemSelected[1]" [@addAnimation] [src]="itemSelected[1].image" alt="">
                               </div>

                               <div  *ngIf="itemSelected[1]"  [@addAnimation]>
                                {{itemSelected[1].name}}
                              </div>
                            </div>
                        </div>
                        <div  class="col-lg-4 col-md-4 col-sm-10">
                            <div class="div"    >
                              <div>
                                <img *ngIf="itemSelected[2]" [@addAnimation] [src]="itemSelected[2].image" alt="">
                              </div>

                               <div  *ngIf="itemSelected[2]"  [@addAnimation]>
                                {{itemSelected[2].name}}
                              </div>
                            </div>
                        </div>
                       </div>
                </div>
            </div>
        </div>
        <div class="pickup_box_footer container">
             <div class="row">
        
            <div class="pickup_box_footer_items_added col-lg-8 col-md-8 col-sm-12">
               <div class="pickup_box_footer_items_added_cont">
                <div *ngIf="itemSelected" class="row pickup_box__footer_div_img">
                        <div  *ngFor="let item_s of itemSelected"  class="col-4" [@addAnimation]>
                            <div class="div">
                                <img [src]="item_s.image" alt="">
                                <div class="delete_icon">
                                    <a>
                                        <img (click)="deletePickup(item_s,item_s.price)" src="../../../assets/hi_perfume_images/delete_icon.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>            
                </div>
               </div>
            </div>
            <div class="pickup_box_footer_totals col-lg-4 col-md-4 col-sm-12">
                <div class="totalprice">
                  <a>
                     <!-- {{finalPrice}}$ -->
                    0$
                  </a>
                </div>
                <div class="add_to_cart disabled">
                  <a (click)="addToCart()" >
                    add to cart
                  </a>
                </div>
          </div>
             </div>
        </div>

       
   </div>
    <app-footer></app-footer>
  </section>