<div class="container">
  <section id="formHolder">

     <div class="row">
        <div class="col-sm-6 brand">
           <div class="heading">
              <h2>
                Hi Perfume
              </h2>
              <p>Your Right Choice</p>
           </div>
        </div>
        <div class="col-sm-6 form">

           <!-- Login Form -->
           <!-- <div class="login form-peice switched">
              <form class="login-form" [formGroup]="loginForm">
                 <div class="form-group">
                    <label for="loginemail">Email Adderss</label>
                    <input type="email" name="loginemail" id="loginemail" required formControlName="email">
                 </div>

                 <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input type="password" name="loginPassword" id="loginPassword" required formControlName="password">
                 </div>

                 <div class="CTA">
                    <input type="submit" value="Login" (click)="submitLogin()">
                    <a href="#" class="switch">I'm New</a>
                 </div>
              </form>
           </div> -->
           <!-- End Login Form -->


           <!-- Signup Form -->
           <div class="signup form-peice">
             <form class="signup-form"  [formGroup]="forgetPasswordForm">
              

                 <div class="form-group" *ngIf="verifyBYMobile==true">
                    <label for="name" style="margin-bottom: 40px;">Phone Number</label>
                    <span class="error"></span>
                    <ngx-intl-tel-input [cssClass]="'custom'" style="padding: 0;"
                    [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true"
                    [enablePlaceholder]="true" [searchCountryFlag]="true"
                    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                    [selectFirstCountry]="false" [selectedCountryISO]="country_iso" [maxLength]="15"
                    [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" [separateDialCode]="separateDialCode"
                    name="username" id="name" class="name"
                    formControlName="mobile">
                  </ngx-intl-tel-input>
                 </div>

                 <div class="form-group" *ngIf="verifyBYMobile==false">
                  <label for="email" style="margin-bottom: 40px;">Email Adderss</label>                 
                  <input type="email" name="emailAdress" id="email" class="email" formControlName="email" placeholder="mail@example.com">
                  <span class="error"></span>
               </div>

                 <div class="CTA">
                    <input type="submit" value="Send" id="submit" (click)="submit()">
                    <a *ngIf="verifyBYMobile==true" style="font-size: 12px;" (click)="toggleDisplay()">Use Email ?</a>
                    <a *ngIf="verifyBYMobile==false" style="font-size: 12px;" (click)="toggleDisplay()">Use Mobile ?</a>
                 </div>
              </form>
              
           </div><!-- End Signup Form -->
        </div>
     </div>

  </section>
</div>



<!-- <div  class="container">
  <div class="imgcontainer">
    <img src="../../../../assets/hi_perfume_images/hi_perfum_logo_login.png" alt="Avatar" class="avatar">
</div>
<form [formGroup]="forgetPasswordForm">

  <div class="form-group  login-text">
    <ngx-intl-tel-input [cssClass]="'custom'" style="padding: 0;"
    [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true"
    [enablePlaceholder]="true" [searchCountryFlag]="true"
    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
    [selectFirstCountry]="false" [selectedCountryISO]="country_iso" [maxLength]="15"
    [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" [separateDialCode]="separateDialCode"
    name="phone" formControlName="mobile">
  </ngx-intl-tel-input>
  </div>

  <div class=" form-group " >
  <div class="col-auto" >
    <button type="submit" (click)="submit(verfyCodeTemplate)" mdbBtn color="primary" class="mb-0 btn-login"> {{"send" |translate}} </button>
  </div>

  </div>
</form>

<ng-template #verfyCodeTemplate>
  <div  class="close_icon">
    <img  (click)="closeModal()" src="../../../assets/hi_perfume_images/close_icon.png" alt="">
  </div>
  <section class="arrangement">
    <app-verify-login></app-verify-login>
  </section>
</ng-template>
</div> -->